.search-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clothing-container {
    height: 30vh;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.card {
    border: 2px solid black;
    margin: 0 10px;
}

.card img {
    background-size: cover;
}

.card-text {
    font-weight: bolder;
}

form input {
    width: 50vw;
}

#map {
    height: 500px;
    width: 100%;
}